<p class="ps-3">Ask your coach anything</p>
<form action="answer" data-turbo="false">
<div class="input-group p-2">
  <input type="text" name="question" class="form-control" placeholder="Put your question here" aria-label="Recipient's username" aria-describedby="basic-addon2">
  <input type="submit" class="btn btn-primary" id="basic-addon2" value="Ask!">
</div>
</form>
